h1 {
    text-align: center;
}

#questionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#questionBox {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#questionBox h3, p {
    width: auto;
    text-align: center;
}

#questionBox h3 {
    padding: 5px;
    border-bottom: 1px solid black;
}

.correctChoice:hover {
    font-weight: bold;
    cursor: pointer;
}

.incorrectChoice:hover {
    font-weight: bold;
    cursor: pointer;
}

.correctClicked {
    color: white;
    background-color: green;
}

.incorrectClicked {
    color: white;
    background-color: red;
}